<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
		 id="WebApp_ID" 
		 version="4.0">
		 
	<!-- 컨테이너에 서블릿 등록 -->
	<servlet>
		<servlet-name>HelloWorldServlet</servlet-name>
		<servlet-class>com.exampleWeb.servlet.HelloWorldServlet</servlet-class>
	</servlet>
	
	<!-- 요청과 서블릿 연결 : 어떤 요청이 발생했을 때 어떤 서블릿을 사용할지 설정 -->
	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>/hello.action</url-pattern>		
	</servlet-mapping>
	
	<!-- 컨테이너에 필터 등록 -->
	<filter>
		<filter-name>DemoFilter</filter-name>
		<filter-class>com.exampleWeb.filter.DemoFilter</filter-class>
	</filter>
	
	<!-- 요청과 필터 연결 : 어떤 요청이 발생했을 때 어떤 필터를 사용할지 설정 -->
	<filter-mapping>
		<filter-name>DemoFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>		
	</filter-mapping>
	
	<!-- 리스너 등록 (이벤트 수신기 등록) -->
	<listener>
		<listener-class>com.exampleWeb.listener.ExampleListener</listener-class>
	</listener>
  
  
</web-app>













